'use strict';

import { {{name|title}}, {{name|title}}ExtraDoc } from '@model/{{name|title}}';

const handleError = (err, reject) => {
    // TODO
    reject({msg: err});
};

export default class {{name|title}}Service {

    /**
     * 查询{{alias}}
     *
     * @param query
     */
    static list(search: any | null) {
        return new Promise((resolve, reject) => {
            const {pageSize = 5, status, page, ...param} = search;
            {{name|title}}
                .find({...param, status: {$ne: -1}})
                .limit(parseInt(pageSize > 0 ? pageSize : 5))
                .skip(parseInt(page > 0 ? page : 0))
                .then((docs: [{{name|title}}ExtraDoc]) => {
                    resolve(docs);
                })
                .catch((err) => {
                    handleError(err, reject);
                });
        });
    }

    /**
     * {{alias}}详情, 单条
     *
     * @param query
     */
    static getSingle(id, body: any | null) {
        return new Promise((resolve, reject) => {
            const {...param} = body;
            {{name|title}}
                .findById(id)
                .populate({path: 'creator'})// {path: 'creator', select: 'name'}
                .then((doc: {{name|title}}ExtraDoc) => {
                    resolve(doc);
                })
                .catch((err) => {
                    handleError(err, reject);
                });
        });
    }

}
