{% for item in group %}
/*------------------------------------------------------------------------------------------*/

/**
 * 用户添加{{item.alias}}
 * @param query
 */
static {{item.name}}Single(body: any | null) {
    return new Promise((resolve, reject) => {
        const {createTime, ...param} = body;
        {{item.name|title}}
            .create({...param, createTime: new Date()})
            .then((doc: {{item.name|title}}ExtraDoc) => {
                resolve(doc);
            })
            .catch((err) => {
                handleError(err, reject);
            });
    });
}

/**
 * 用户{{item.alias}}计数
 * @param query
 */
static {{item.name}}Count(uid, body: any | null) {
    return new Promise((resolve, reject) => {
        const {status, ...param} = body;
        {{item.name|title}}
            .count({creator: new mongoose.Types.ObjectId(uid), ...param, status: {$ne: -1}, $and: [{status}]})
            .then(count => {
                resolve({count});
            })
            .catch((err) => {
                handleError(err, reject);
            });
    });
}

/**
 * 用户查询{{item.alias}}
 * @param query
 */
static {{item.name}}History(uid, body: any | null) {
    return new Promise((resolve, reject) => {
        const {pageSize = 5, page, source, status, ...param} = body;
        const _pageSize = parseInt(pageSize > 0 ? pageSize : 5), _page = parseInt(page > 0 ? page : 0);
        {{item.name|title}}
            .find({creator: new mongoose.Types.ObjectId(uid), ...param, status: {$ne: -1}, $and: [{status}]})
            .limit(_pageSize)
            .skip(_pageSize * _page)
            .sort({createTime: -1})
            .populate({path: 'target', model: source.length > 1 ? source.charAt(0).toUpperCase() + source.slice(1) : ''})
            .then((doc: {{item.name|title}}ExtraDoc) => {
                resolve(doc);
            })
            .catch((err) => {
                handleError(err, reject);
            });
    });
}

/**
 * 用户更新{{item.alias}}
 * @param query
 */
static updateSingle{{item.name|title}}Record(uid, body: any | null) {
    return new Promise((resolve, reject) => {
        const {_id, creator, updateTime, ...param} = body;
        {{item.name|title}}
            .findByIdAndUpdate(_id, {...param, updateTime: new Date()}, {new: true})
            .then((doc: {{item.name|title}}ExtraDoc) => {
                if (uid != doc.creator) new Error('auth');
                resolve(doc);
            })
            .catch((err) => {
                handleError(err, reject);
            });
    });
}

/**
 * 用户删除{{item.alias}}
 * @param query
 */
static deleteSingle{{item.name|title}}Record(uid, body: any | null) {
    return new Promise((resolve, reject) => {
        const {_id, creator, updateTime, ...param} = body;
        console.log(_id);
        {{item.name|title}}
            .findByIdAndUpdate(_id, {status: -1, updateTime: new Date()}, {new: true})
            .then((doc: {{item.name|title}}ExtraDoc) => {
                if (uid != doc.creator) new Error('auth');
                resolve(doc);
            })
            .catch((err) => {
                handleError(err, reject);
            });
    });
}
{% endfor %}