{% for item in group %}
{{item.name}}Count: new Http.URL('/api/count/{{item.name}}'),//{{item.alias}}列表
{{item.name}}List: new Http.URL('/api/list/{{item.name}}'),//{{item.alias}}列表
{{item.name}}Single: new Http.URL('/api/{{item.name}}/:id'),//{{item.alias}}详情
{% endfor %}