{{ name}}List: new Http.URL('/api/list/{{ name }}'),//{{alias}}列表
{{ name }}Single: new Http.URL('/api/{{ name }}/:id'),//{{alias}}详情
/*----用户{{alias}} start----*/
{{ name }}: new Http.URL('/api/user/{{ name }}'),//用户创建{{alias}}
{{ name }}List: new Http.URL('/api/list/user/{{ name }}/:uid'), //用户查询{{alias}}
{{ name }}Single: new Http.URL('/api/user/{{ name }}/:uid'), //用户操作{{alias}}
 /*----用户{{alias}} end----*/